h1 {
    color:violet;
    text-align: center;
}
#start-btn {
    margin-top: 35%;
    margin-left: 35%;
    float:left;
}
.time {
    float: right;
}
/* #main-container{
    text-align:center;
    
} */
.container-box{
    height: 10rem;
    width: 10rem;
    background-color:rgb(201, 196, 196);
    margin-left: 42%;
    
}
