h1 {
    color:violet;
    text-align: center;
}
#start-button {
    background-color:rgb(133, 24, 206);
}
.time {
    float: right;
}
#main-container{
    text-align:center;
    
} 
.container-box{

    margin-left: 42%;
    
} 
